### Name : Harsh Arora
### Roll No : AE-1218
### BSC(Hons) Computer Science

In [1]:
import warnings
warnings.filterwarnings("ignore")

### Q1. Use the Decision Tree classification algorithm to construct a classifier on two datasets. Evaluate the classifier's performance by dividing the dataset into a training set (75%) and a test set (25%). Compare the performance with that of:
#### Bagging ensemble consisting of 3,5,7,9 Decision tree classifiers
#### Adaboost ensemble consisting of 3,5,7,9 Decision tree classifiers

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [3]:
d1=pd.read_csv("mushroom_cleaned.csv")

In [4]:
d1

,cap-diameter,cap-shape,gill-attachment,gill-color,stem-height,stem-width,stem-color,season,class
0,1372,2,2,10,3.807467,1545,11,1.804273,1
1,1461,2,2,10,3.807467,1557,11,1.804273,1
2,1371,2,2,10,3.612496,1566,11,1.804273,1
3,1261,6,2,10,3.787572,1566,11,1.804273,1
4,1305,6,2,10,3.711971,1464,11,0.943195,1
...,...,...,...,...,...,...,...,...,...
54030,73,5,3,2,0.887740,569,12,0.943195,1
54031,82,2,3,2,1.186164,490,12,0.943195,1
54032,82,5,3,2,0.915593,584,12,0.888450,1
54033,79,2,3,2,1.034963,491,12,0.888450,1
54034,72,5,3,2,1.158311,492,12,0.888450,1

In [5]:
x1=d1.iloc[:,:8]
x1

,cap-diameter,cap-shape,gill-attachment,gill-color,stem-height,stem-width,stem-color,season
0,1372,2,2,10,3.807467,1545,11,1.804273
1,1461,2,2,10,3.807467,1557,11,1.804273
2,1371,2,2,10,3.612496,1566,11,1.804273
3,1261,6,2,10,3.787572,1566,11,1.804273
4,1305,6,2,10,3.711971,1464,11,0.943195
...,...,...,...,...,...,...,...,...
54030,73,5,3,2,0.887740,569,12,0.943195
54031,82,2,3,2,1.186164,490,12,0.943195
54032,82,5,3,2,0.915593,584,12,0.888450
54033,79,2,3,2,1.034963,491,12,0.888450
54034,72,5,3,2,1.158311,492,12,0.888450

In [6]:
y1=d1.iloc[:,8:9]
y1

       class
0          1
1          1
2          1
3          1
4          1
...      ...
54030      1
54031      1
54032      1
54033      1
54034      1

[54035 rows x 1 columns]

In [7]:
d2=pd.read_csv("drug200.csv")
d2

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
def encode_labels(dataset):
    le = LabelEncoder()
    for column in dataset.columns:
        if dataset[column].dtype == 'object': 
            dataset[column] = le.fit_transform(dataset[column])
    return dataset

In [9]:
d2_encoded = encode_labels(d2)

In [10]:
d2_encoded

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [11]:
x2=d2_encoded.iloc[:,:5]
x2

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]

In [12]:
y2=d2_encoded.Drug
y2

0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int32

In [13]:
def my_model(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

    dt = DecisionTreeClassifier(random_state=42)
    dt.fit(X_train, y_train)
    y_pred_dt = dt.predict(X_test)
    print("Decision Tree Classifier Accuracy:", accuracy_score(y_test, y_pred_dt))
    print(classification_report(y_test, y_pred_dt))

    # Bagging 
    for n_estimators in [3, 5, 7, 9]:
        bagging = BaggingClassifier(DecisionTreeClassifier(), n_estimators=n_estimators, random_state=42)
        bagging.fit(X_train, y_train)
        y_pred_bagging = bagging.predict(X_test)
        print(f"Bagging Classifier with {n_estimators} estimators Accuracy:", accuracy_score(y_test, y_pred_bagging))
        print(classification_report(y_test, y_pred_bagging))

    # AdaBoost
    for n_estimators in [3, 5, 7, 9]:
        adaboost = AdaBoostClassifier(DecisionTreeClassifier(), n_estimators=n_estimators, random_state=42)
        adaboost.fit(X_train, y_train)
        y_pred_adaboost = adaboost.predict(X_test)
        print(f"AdaBoost Classifier with {n_estimators} estimators Accuracy:", accuracy_score(y_test, y_pred_adaboost))
        print(classification_report(y_test, y_pred_adaboost))

# Evaluate for dataset1
print("Dataset 1 Results:")
my_model(x1, y1)

# Evaluate for dataset2
print("\nDataset 2 Results:")
my_model(x2, y2)

Dataset 1 Results:
Decision Tree Classifier Accuracy: 0.9753497668221186
              precision    recall  f1-score   support

           0       0.98      0.97      0.97      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.97      0.98     13509
weighted avg       0.98      0.98      0.98     13509

Bagging Classifier with 3 estimators Accuracy: 0.9805314975201718
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

Bagging Classifier with 5 estimators Accuracy: 0.9834184617662299
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      6130
           1       0.98      0.99      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

Bagging Classifier with 7 estimators Accuracy: 0.984898956251388
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      6130
           1       0.99      0.99      0.99      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

Bagging Classifier with 9 estimators Accuracy: 0.9845288326300985
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      6130
           1       0.99      0.99      0.99      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

AdaBoost Classifier with 3 estimators Accuracy: 0.9756458657191502
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

AdaBoost Classifier with 5 estimators Accuracy: 0.9756458657191502
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

AdaBoost Classifier with 7 estimators Accuracy: 0.9756458657191502
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509

AdaBoost Classifier with 9 estimators Accuracy: 0.9756458657191502
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      6130
           1       0.98      0.98      0.98      7379

    accuracy                           0.98     13509
   macro avg       0.98      0.98      0.98     13509
weighted avg       0.98      0.98      0.98     13509


Dataset 2 Results:
Decision Tree Classifier Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Bagging Classifier with 3 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Bagging Classifier with 5 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Bagging Classifier with 7 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Bagging Classifier with 9 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

AdaBoost Classifier with 3 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

AdaBoost Classifier with 5 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

AdaBoost Classifier with 7 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

AdaBoost Classifier with 9 estimators Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         6
           4       1.00      1.00      1.00        15

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

### Q2. For any 10 datasets (from table 6.5) compare accuracy, precision, Recall and  Fmeasure of Decision tree, Bagging and Boosting, Random Forest. Clearly mention the parameters values used for each case and show results in a tabular form

### Dataset 1
### Automobile

In [14]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
automobile = fetch_ucirepo(id=10) 
  
# data (as pandas dataframes) 
X1 = automobile.data.features 
y1 = automobile.data.targets 

X1 = encode_labels(X1)
X1 = X1.fillna(X1.mean())

X1

,price,highway-mpg,city-mpg,peak-rpm,horsepower,compression-ratio,stroke,bore,fuel-system,engine-size,...,length,wheel-base,engine-location,drive-wheels,body-style,num-of-doors,aspiration,fuel-type,make,normalized-losses
0,13495.0,27,21,5000.0,111.0,9.0,2.68,3.47,5,130,...,168.8,88.6,0,2,0,2.0,0,1,0,122.0
1,16500.0,27,21,5000.0,111.0,9.0,2.68,3.47,5,130,...,168.8,88.6,0,2,0,2.0,0,1,0,122.0
2,16500.0,26,19,5000.0,154.0,9.0,3.47,2.68,5,152,...,171.2,94.5,0,2,2,2.0,0,1,0,122.0
3,13950.0,30,24,5500.0,102.0,10.0,3.40,3.19,5,109,...,176.6,99.8,0,1,3,4.0,0,1,1,164.0
4,17450.0,22,18,5500.0,115.0,8.0,3.40,3.19,5,136,...,176.6,99.4,0,0,3,4.0,0,1,1,164.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845.0,28,23,5400.0,114.0,9.5,3.15,3.78,5,141,...,188.8,109.1,0,2,3,4.0,0,1,21,95.0
201,19045.0,25,19,5300.0,160.0,8.7,3.15,3.78,5,141,...,188.8,109.1,0,2,3,4.0,1,1,21,95.0
202,21485.0,23,18,5500.0,134.0,8.8,2.87,3.58,5,173,...,188.8,109.1,0,2,3,4.0,0,1,21,95.0
203,22470.0,27,26,4800.0,106.0,23.0,3.40,3.01,3,145,...,188.8,109.1,0,2,3,4.0,1,0,21,95.0
204,22625.0,25,19,5400.0,114.0,9.5,3.15,3.78,5,141,...,188.8,109.1,0,2,3,4.0,1,1,21,95.0

### Dataset 2
### Heart Disease

In [15]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 
  
# data (as pandas dataframes) 
X2 = heart_disease.data.features 
y2 = heart_disease.data.targets 

X2 = encode_labels(X2)
X2 = X2.fillna(X2.mean())


X2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0.000000,6.0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.000000,3.0
2,67,1,4,120,229,0,2,129,1,2.6,2,2.000000,7.0
3,37,1,3,130,250,0,0,187,0,3.5,3,0.000000,3.0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.000000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.000000,7.0
299,68,1,4,144,193,1,0,141,0,3.4,2,2.000000,7.0
300,57,1,4,130,131,0,0,115,1,1.2,2,1.000000,7.0
301,57,0,2,130,236,0,2,174,0,0.0,2,1.000000,3.0
302,38,1,3,138,175,0,0,173,0,0.0,1,0.672241,3.0

### Dataset 3
### Vehicle

In [16]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
statlog_vehicle_silhouettes = fetch_ucirepo(id=149) 
  
# data (as pandas dataframes) 
X3 = statlog_vehicle_silhouettes.data.features 
y3 = statlog_vehicle_silhouettes.data.targets 

X3 = X3.fillna(X3.mean())

  
X3

,COMPACTNESS,CIRCULARITY,DISTANCE CIRCULARITY,RADIUS RATIO,PR.AXIS ASPECT RATIO,MAX.LENGTH ASPECT RATIO,SCATTER RATIO,ELONGATEDNESS,PR.AXIS RECTANGULARITY,MAX.LENGTH RECTANGULARITY,SCALED VARIANCE ALONG MAJOR AXIS,SCALED VARIANCE ALONG MINOR AXIS,SCALED RADIUS OF GYRATION,SKEWNESS ABOUT MAJOR AXIS,SKEWNESS ABOUT MINOR AXIS,KURTOSIS ABOUT MINOR AXIS,KURTOSIS ABOUT MAJOR AXIS,HOLLOWS RATIO
0,95.0,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197
1,91.0,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199
2,104.0,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196
3,93.0,41,82,159,63,9,144,46,19,143,160,309,127,63,6,10,199,207
4,85.0,44,70,205,103,52,149,45,19,144,241,325,188,127,9,11,180,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,93.0,39,87,183,64,8,169,40,20,134,200,422,149,72,7,25,188,195
842,89.0,46,84,163,66,11,159,43,20,159,173,368,176,72,1,20,186,197
843,106.0,54,101,222,67,12,222,30,25,173,228,721,200,70,3,4,187,201
844,86.0,36,78,146,58,7,135,50,18,124,155,270,148,66,0,25,190,195
845,85.0,36,66,123,55,5,120,56,17,128,140,212,131,73,1,18,186,190

### Dataset 4
### Glass

In [17]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
glass_identification = fetch_ucirepo(id=42) 
  
# data (as pandas dataframes) 
X4 = glass_identification.data.features 
y4 = glass_identification.data.targets 
  
X4

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

### Dataset 5
### Sonar

In [18]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
connectionist_bench_sonar_mines_vs_rocks = fetch_ucirepo(id=151) 
  
# data (as pandas dataframes) 
X5 = connectionist_bench_sonar_mines_vs_rocks.data.features 
y5 = connectionist_bench_sonar_mines_vs_rocks.data.targets 
  
X5

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute51,Attribute52,Attribute53,Attribute54,Attribute55,Attribute56,Attribute57,Attribute58,Attribute59,Attribute60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0203,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0051,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0155,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0042,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0181,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115

### Dataset 6
### Tic-Tac-Toe

In [19]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
tic_tac_toe_endgame = fetch_ucirepo(id=101) 
  
# data (as pandas dataframes) 
X6 = tic_tac_toe_endgame.data.features 
y6 = tic_tac_toe_endgame.data.targets 

X6 = encode_labels(X6)
X6

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square
0,2,2,2,2,1,1,2,1,1
1,2,2,2,2,1,1,1,2,1
2,2,2,2,2,1,1,1,1,2
3,2,2,2,2,1,1,1,0,0
4,2,2,2,2,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...
953,1,2,2,2,1,1,1,2,2
954,1,2,1,2,2,1,2,1,2
955,1,2,1,2,1,2,2,1,2
956,1,2,1,1,2,2,2,1,2
957,1,1,2,2,2,1,1,2,2

### Dataset 7
### Australian Credit Approval

In [20]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
statlog_australian_credit_approval = fetch_ucirepo(id=143) 
  
# data (as pandas dataframes) 
X7 = statlog_australian_credit_approval.data.features 
y7 = statlog_australian_credit_approval.data.targets 


X7

     A1     A2      A3  A4  A5  A6     A7  A8  A9  A10  A11  A12  A13   A14
0     1  22.08  11.460   2   4   4  1.585   0   0    0    1    2  100  1213
1     0  22.67   7.000   2   8   4  0.165   0   0    0    0    2  160     1
2     0  29.58   1.750   1   4   4  1.250   0   0    0    1    2  280     1
3     0  21.67  11.500   1   5   3  0.000   1   1   11    1    2    0     1
4     1  20.17   8.170   2   6   4  1.960   1   1   14    0    2   60   159
..   ..    ...     ...  ..  ..  ..    ...  ..  ..  ...  ...  ...  ...   ...
685   1  31.57  10.500   2  14   4  6.500   1   0    0    0    2    0     1
686   1  20.67   0.415   2   8   4  0.125   0   0    0    0    2    0    45
687   0  18.83   9.540   2   6   4  0.085   1   0    0    0    2  100     1
688   0  27.42  14.500   2  14   8  3.085   1   1    1    0    2  120    12
689   1  41.00   0.040   2  10   4  0.040   0   1    1    0    1  560     1

[690 rows x 14 columns]

### Dataset 8
### Hepatatiss

In [28]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
hepatitis = fetch_ucirepo(id=46) 
  
# data (as pandas dataframes) 
X8 = hepatitis.data.features 
y8 = hepatitis.data.targets 
  
X8 = X8.fillna(X8.mean())


X8

,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,30,2,1.000000,2,2.000000,2.000000,2.000000,1.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,18.00000,4.000000,61.852273,1
1,50,1,1.000000,2,1.000000,2.000000,2.000000,1.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,135.000000,42.00000,3.500000,61.852273,1
2,78,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,96.000000,32.00000,4.000000,61.852273,1
3,31,1,1.506494,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,46.000000,52.00000,4.000000,80.000000,1
4,34,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,105.325397,200.00000,4.000000,61.852273,1
5,34,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,95.000000,28.00000,4.000000,75.000000,1
6,51,1,1.000000,2,1.000000,2.000000,1.000000,2.000000,2.000000,1.0,1.00,2.000000,2.00,1.427517,105.325397,85.89404,3.817266,61.852273,1
7,23,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,105.325397,85.89404,3.817266,61.852273,1
8,39,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.700000,105.325397,48.00000,4.400000,61.852273,1
9,30,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,105.325397,120.00000,3.900000,61.852273,1
10,39,1,1.000000,1,2.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,1.300000,78.000000,30.00000,4.400000,85.000000,1
11,32,1,2.000000,1,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,1.000000,59.000000,249.00000,3.700000,54.000000,1
12,41,1,2.000000,1,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.900000,81.000000,60.00000,3.900000,52.000000,1
13,30,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,2.200000,57.000000,144.00000,4.900000,78.000000,1
14,47,1,1.000000,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.427517,105.325397,60.00000,3.817266,61.852273,1
15,38,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,2.00,1.000000,2.00,2.000000,72.000000,89.00000,2.900000,46.000000,1
16,66,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.200000,102.000000,53.00000,4.300000,61.852273,1
17,40,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.600000,62.000000,166.00000,4.000000,63.000000,1
18,38,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,53.000000,42.00000,4.100000,85.000000,2
19,38,1,1.000000,1,2.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,0.700000,70.000000,28.00000,4.200000,62.000000,1
20,22,2,2.000000,1,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,48.000000,20.00000,4.200000,64.000000,1
21,27,1,2.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.00,2.000000,2.00,1.200000,133.000000,98.00000,4.100000,39.000000,1
22,31,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,20.00000,4.000000,100.000000,1
23,42,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,60.000000,63.00000,4.700000,47.000000,1
24,25,2,1.000000,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.400000,45.000000,18.00000,4.300000,70.000000,1
25,27,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,95.000000,46.00000,3.800000,100.000000,1
26,49,1,1.000000,1,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,0.600000,85.000000,48.00000,3.700000,61.852273,1
27,58,2,2.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,1.400000,175.000000,55.00000,2.700000,36.000000,1
28,61,1,1.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,1.300000,78.000000,25.00000,3.800000,100.000000,1
29,51,1,1.000000,1,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,78.000000,58.00000,4.600000,52.000000,1
30,39,1,1.000000,1,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,2.300000,280.000000,98.00000,3.800000,40.000000,1
31,62,1,1.000000,2,1.000000,1.000000,2.000000,1.827586,1.583333,2.0,2.00,2.000000,2.00,1.000000,105.325397,60.00000,3.817266,61.852273,1
32,41,2,2.000000,1,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,81.000000,53.00000,5.000000,74.000000,1
33,26,2,1.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.500000,135.000000,29.00000,3.800000,60.000000,1
34,35,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,58.000000,92.00000,4.300000,73.000000,1
35,37,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.00,2.000000,2.00,0.600000,67.000000,28.00000,4.200000,61.852273,1
36,23,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,1.0,2.00,2.000000,2.00,1.300000,194.000000,150.00000,4.100000,90.000000,1
37,20,2,1.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.00,2.000000,2.00,2.300000,150.000000,68.00000,3.900000,61.852273,1
38,42,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,14.00000,4.000000,100.000000,1
39,65,1,2.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,1.0,1.00,1.000000,2.00,0.300000,180.000000,53.00000,2.900000,74.000000,2
40,52,1,1.000000,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,75.000000,55.00000,4.000000,21.000000,1
41,23,1,2.000000,2,2.000000,2.000000,2.000000,1.827586,1.583333,1.8,1.66,1.866667,1.88,4.600000,56.000000,16.00000,4.600000,61.852273,1
42,33,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,46.000000,90.00000,4.400000,60.000000,1
43,56,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,71.000000,18.00000,4.400000,100.000000,1
44,34,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.427517,105.325397,86.00000,3.817266,61.852273,1
45,28,1,2.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,74.000000,110.00000,4.400000,61.852273,1
46,37,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,0.600000,80.000000,80.00000,3.800000,61.852273,1
47,28,2,2.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,1.800000,191.000000,420.00000,3.300000,46.000000,1
48,36,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,1.0,2.00,2.000000,2.00,0.800000,85.000000,44.00000,4.200000,85.000000,1
49,38,1,2.000000,1,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,1.00,2.000000,2.00,0.700000,125.000000,65.00000,4.200000,77.000000,1
50,39,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.900000,85.000000,60.00000,4.000000,61.852273,1
51,39,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,20.00000,4.000000,61.852273,1
52,44,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.600000,110.000000,145.00000,4.400000,70.000000,1
53,40,1,2.000000,1,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.00,2.000000,2.00,1.200000,85.000000,31.00000,4.000000,100.000000,1
54,30,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,50.000000,78.00000,4.200000,74.000000,1
55,37,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,92.000000,59.00000,3.817266,61.852273,1
56,34,1,1.000000,2,1.350649,1.603896,1.792208,1.827586,1.583333,1.8,1.66,1.866667,1.88,1.427517,105.325397,85.89404,3.817266,61.852273,1
57,30,1,2.000000,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,52.000000,38.00000,3.900000,52.000000,1
58,64,1,2.000000,1,1.000000,1.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,1.000000,80.000000,38.00000,4.300000,74.000000,1
59,45,2,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,1.0,2.00,2.000000,2.00,1.000000,85.000000,75.00000,3.817266,61.852273,1
60,37,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,26.000000,58.00000,4.500000,100.000000,1
61,32,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,102.000000,64.00000,4.000000,90.000000,1
62,32,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,1.00,2.000000,1.00,3.500000,215.000000,54.00000,3.400000,29.000000,1
63,36,1,1.000000,2,2.000000,2.000000,2.000000,1.000000,1.000000,1.0,2.00,2.000000,2.00,0.700000,164.000000,44.00000,3.100000,41.000000,1
64,49,1,2.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,103.000000,43.00000,3.500000,66.000000,1
65,27,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,105.325397,38.00000,4.200000,61.852273,1
66,56,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,62.000000,33.00000,3.000000,61.852273,1
67,57,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,1.00,1.000000,2.00,4.100000,105.325397,48.00000,2.600000,73.000000,1
68,39,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,34.000000,15.00000,4.000000,54.000000,1
69,44,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.600000,68.000000,68.00000,3.700000,61.852273,1
70,24,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,82.000000,39.00000,4.300000,61.852273,1
71,34,1,1.000000,2,1.000000,1.000000,2.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,2.800000,127.000000,182.00000,3.817266,61.852273,1
72,51,1,2.000000,2,1.000000,1.000000,1.000000,1.827586,1.583333,1.8,1.66,1.866667,1.88,0.900000,76.000000,271.00000,4.400000,61.852273,1
73,36,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,1.000000,105.325397,45.00000,4.000000,57.000000,1
74,50,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.500000,100.000000,100.00000,5.300000,61.852273,1
75,32,1,1.000000,1,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,55.000000,45.00000,4.100000,56.000000,1
76,58,1,2.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,1.0,1.00,2.000000,2.00,2.000000,167.000000,242.00000,3.300000,61.852273,1
77,34,2,1.000000,1,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.600000,30.000000,24.00000,4.000000,76.000000,1
78,34,1,1.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,1.000000,72.000000,46.00000,4.400000,57.000000,1
79,28,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,85.000000,31.00000,4.900000,61.852273,1
80,23,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.800000,105.325397,14.00000,4.800000,61.852273,1
81,36,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,62.000000,224.00000,4.200000,100.000000,1
82,30,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,100.000000,31.00000,4.000000,100.000000,1
83,67,2,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,1.8,1.66,1.866667,1.88,1.500000,179.000000,69.00000,2.900000,61.852273,1
84,62,2,2.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,1.300000,141.000000,156.00000,3.900000,58.000000,1
85,28,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,1.600000,44.000000,123.00000,4.000000,46.000000,1
86,44,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,1.0,2.00,2.000000,1.00,0.900000,135.000000,55.00000,3.817266,41.000000,2
87,30,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,1.00,1.000000,1.00,2.500000,165.000000,64.00000,2.800000,61.852273,2
88,38,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,1.00,1.000000,1.00,1.200000,118.000000,16.00000,2.800000,61.852273,2
89,38,1,1.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,0.600000,76.000000,18.00000,4.400000,84.000000,2
90,50,2,1.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,1.0,1.00,2.000000,2.00,0.900000,230.000000,117.00000,3.400000,41.000000,2
91,42,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,1.0,1.00,2.000000,1.00,4.600000,105.325397,55.00000,3.300000,61.852273,2
92,33,1,2.000000,2,2.000000,2.000000,2.000000,1.827586,1.583333,2.0,2.00,2.000000,2.00,1.000000,105.325397,60.00000,4.000000,61.852273,2
93,52,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.500000,105.325397,69.00000,2.900000,61.852273,2
94,59,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,1.0,1.00,2.000000,2.00,1.500000,107.000000,157.00000,3.600000,38.000000,2
95,40,1,1.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,0.600000,40.000000,69.00000,4.200000,67.000000,2
96,30,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,0.800000,147.000000,128.00000,3.900000,100.000000,2
97,44,1,1.000000,2,1.000000,1.000000,2.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,3.000000,114.000000,65.00000,3.500000,61.852273,2
98,47,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.00,2.000000,1.00,2.000000,84.000000,23.00000,4.200000,66.000000,2
99,60,1,1.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,1.0,1.00,2.000000,2.00,1.427517,105.325397,40.00000,3.817266,61.852273,2
100,48,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,1.00,1.000000,1.00,4.800000,123.000000,157.00000,2.700000,31.000000,2
101,22,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.700000,105.325397,24.00000,3.817266,61.852273,2
102,27,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,2.400000,168.000000,227.00000,3.000000,66.000000,2
103,51,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,1.0,1.00,2.000000,1.00,4.600000,215.000000,269.00000,3.900000,51.000000,2
104,47,1,2.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,2.00,1.000000,1.00,1.700000,86.000000,20.00000,2.100000,46.000000,2
105,25,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.600000,105.325397,34.00000,6.400000,61.852273,2
106,35,1,1.000000,2,1.000000,2.000000,2.000000,1.827586,1.583333,1.0,1.00,1.000000,2.00,1.500000,138.000000,58.00000,2.600000,61.852273,2
107,45,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,2.300000,105.325397,648.00000,3.817266,61.852273,2
108,54,1,1.000000,1,2.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,1.000000,155.000000,225.00000,3.600000,67.000000,2
109,33,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,1.000000,2.00,0.700000,63.000000,80.00000,3.000000,31.000000,2
110,7,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.00,2.000000,2.00,0.700000,256.000000,25.00000,4.200000,61.852273,2
111,42,1,1.000000,1,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,1.00,2.000000,2.00,0.500000,62.000000,68.00000,3.800000,29.000000,2
112,52,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,30.00000,4.000000,61.852273,2
113,45,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.00,2.000000,2.00,1.200000,81.000000,65.00000,3.000000,61.852273,1
114,36,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.100000,141.000000,75.00000,3.300000,61.852273,2
115,69,2,2.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,3.200000,119.000000,136.00000,3.817266,61.852273,2
116,24,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,105.325397,34.00000,4.100000,61.852273,2
117,50,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,139.000000,81.00000,3.900000,62.000000,2
118,61,1,1.000000,2,1.000000,1.000000,2.000000,1.827586,1.583333,2.0,1.00,2.000000,2.00,1.427517,105.325397,85.89404,3.817266,61.852273,2
119,54,1,2.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,2.0,2.00,2.000000,2.00,3.200000,85.000000,28.00000,3.800000,61.852273,2
120,56,1,1.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,2.900000,90.000000,153.00000,4.000000,61.852273,2
121,20,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,2.0,1.00,1.000000,2.00,1.000000,160.000000,118.00000,2.900000,23.000000,2
122,42,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,1.0,2.00,2.000000,2.00,1.500000,85.000000,40.00000,3.817266,61.852273,2
123,37,1,1.000000,2,1.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.00,2.000000,2.00,0.900000,105.325397,231.00000,4.300000,61.852273,2
124,50,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,1.0,1.00,2.000000,2.00,1.000000,85.000000,75.00000,4.000000,72.000000,2
125,34,2,2.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,0.700000,70.000000,24.00000,4.100000,100.000000,2
126,28,1,2.000000,2,1.000000,1.000000,1.000000,1.827586,1.583333,2.0,1.00,1.000000,2.00,1.000000,105.325397,20.00000,4.000000,61.852273,2
127,50,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.00,1.000000,1.00,2.800000,155.000000,75.00000,2.400000,32.000000,2
128,54,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.00,1.000000,2.00,1.200000,85.000000,92.00000,3.100000,66.000000,2
129,57,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,1.00,1.000000,2.00,4.600000,82.000000,55.00000,3.300000,30.000000,2
130,54,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.000000,85.000000,30.00000,4.500000,0.000000,2
131,31,1,1.000000,2,1.000000,1.000000,1.000000,2.000000,2.000000,1.0,2.00,2.000000,2.00,8.000000,105.325397,101.00000,2.200000,61.852273,2
132,48,1,2.000000,2,1.000000,1.000000,1.000000,2.000000,1.000000,2.0,1.00,2.000000,2.00,2.000000,158.000000,278.00000,3.800000,61.852273,2
133,72,1,2.000000,1,1.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,1.000000,115.000000,52.00000,3.400000,50.000000,2
134,38,1,1.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.00,2.000000,2.00,0.400000,243.000000,49.00000,3.800000,90.000000,2
135,25,1,2.000000,2,1.000000,2.000000,2.000000,1.000000,1.000000,1.0,1.00,1.000000,1.00,1.300000,181.000000,181.00000,4.500000,57.000000,2
136,51,1,2.000000,2,2.000000,2.000000,2.000000,1.000000,1.000000,2.0,1.00,2.000000,2.00,0.800000,105.325397,33.00000,4.500000,61.852273,2
137,38,1,2.000000,2,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,1.00,2.000000,1.00,1.600000,130.000000,140.00000,3.500000,56.000000,2
138,47,1,2.000000,2,1.000000,1.000000,2.000000,2.000000,1.000000,2.0,1.00,1.000000,1.00,1.000000,166.000000,30.00000,2.600000,31.000000,2
139,45,1,2.000000,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.00,2.000000,2.00,1.300000,85.000000,44.00000,4.200000,85.000000,2
140,36,1,1.000000,2,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,1.00,2.000000,1.00,1.700000,295.000000,60.00000,2.700000,61.852273,2
141,54,1,1.000000,2,1.000000,1.000000,2.000000,1.827586,1.583333,1.0,2.00,1.000000,2.00,3.900000,120.000000,28.00000,3.500000,43.000000,2
142,51,1,2.000000,2,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,1.00,2.000000,1.00,1.000000,105.325397,20.00000,3.000000,63.000000,2
143,49,1,1.000000,2,1.000000,1.000000,2.000000,2.000000,2.000000,1.0,1.00,2.000000,2.00,1.400000,85.000000,70.00000,3.500000,35.000000,2

### Dataset 9
### Iris

In [22]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
iris = fetch_ucirepo(id=53) 
  
# data (as pandas dataframes) 
X9 = iris.data.features 
y9 = iris.data.targets 

X9

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Dataset 10
### Wine

In [23]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
wine = fetch_ucirepo(id=109) 
  
# data (as pandas dataframes) 
X10 = wine.data.features 
y10 = wine.data.targets 
  
X10

,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,0D280_0D315_of_diluted_wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [24]:
datasets = {
    'Automobile': (X1, y1),
    'Heart Disease': (X2, y2),
    'Vehicle ': (X3, y3),
    'Glass': (X4, y4),
    'Sonar': (X5, y5),
    'Tic-Tac-Toe': (X6, y6),
    'Australian': (X7, y7),
    'Hepatatis': (X8, y8),
    'Iris': (X9, y9),
    'Wine': (X10, y10)}

In [29]:
def Scoress(Model, test_labels, true_labels, Scores):
    accuracy = accuracy_score(test_labels, true_labels)
    precision = precision_score(test_labels, true_labels, average='weighted')
    recall = recall_score(test_labels, true_labels, average='weighted')
    f_measure = f1_score(test_labels, true_labels, average='weighted')
        
    Scores.append({
            'Model': Model,
            'Accuracy': accuracy,
            'Precision': precision,
            'Recall': recall,
            'F-measure': f_measure
        })

In [32]:
def model(datasetName, X, target):
    X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.25, random_state=42)

    Scores = []
    global Result

    # Decision Tree Classifier
    dcs = DecisionTreeClassifier(random_state=42)
    dcs.fit(X_train, y_train)
    label_1 = dcs.predict(X_test)
    Scoress('Decision Tree', y_test, label_1, Scores)

    # Bagging Classifier 
    bag = BaggingClassifier(estimator=dcs, n_estimators=5, random_state=42)
    bag.fit(X_train, y_train)
    label_2 = bag.predict(X_test)
    Scoress('Bagging Classifier', y_test, label_2, Scores)

    # AdaBoost Classifier
    adaboost = AdaBoostClassifier(estimator=dcs, n_estimators=5, random_state=42)
    adaboost.fit(X_train, y_train)
    label_3 = adaboost.predict(X_test)
    Scoress('AdaBoost Classifier', y_test, label_3, Scores)

    # Random Forest Classifier
    rf = RandomForestClassifier(random_state=42)
    rf.fit(X_train, y_train)
    label_4 = rf.predict(X_test)
    Scoress('Random Forest', y_test, label_4, Scores)

    # Store results in a DataFrame
    Metrics = pd.DataFrame(Scores)
    Metrics.insert(0, 'Dataset', datasetName)

    Result = pd.concat([Result, Metrics], ignore_index=True)

    return Result

# Initialize the result DataFrame
Result = pd.DataFrame(columns=['Dataset', 'Model', 'Accuracy', 'Precision', 'Recall', 'F-measure'])

In [33]:
pd.set_option('display.max_rows', None)
for datasetName, (X, target) in datasets.items():
    model(datasetName, X, target)

Result

,Dataset,Model,Accuracy,Precision,Recall,F-measure
0,Automobile,Decision Tree,0.865385,0.897436,0.865385,0.872346
1,Automobile,Bagging Classifier,0.807692,0.805632,0.807692,0.801431
2,Automobile,AdaBoost Classifier,0.826923,0.850641,0.826923,0.829822
3,Automobile,Random Forest,0.884615,0.916117,0.884615,0.886229
4,Heart Disease,Decision Tree,0.526316,0.502768,0.526316,0.514230
5,Heart Disease,Bagging Classifier,0.513158,0.428742,0.513158,0.464874
6,Heart Disease,AdaBoost Classifier,0.513158,0.523607,0.513158,0.505397
7,Heart Disease,Random Forest,0.552632,0.481367,0.552632,0.512849
8,Vehicle,Decision Tree,0.674528,0.685509,0.674528,0.677309
9,Vehicle,Bagging Classifier,0.764151,0.772838,0.764151,0.766012
10,Vehicle,AdaBoost Classifier,0.712264,0.727332,0.712264,0.716243
11,Vehicle,Random Forest,0.778302,0.774962,0.778302,0.775328
12,Glass,Decision Tree,0.685185,0.713584,0.685185,0.667775
13,Glass,Bagging Classifier,0.740741,0.786253,0.740741,0.733544
14,Glass,AdaBoost Classifier,0.703704,0.732591,0.703704,0.690472
15,Glass,Random Forest,0.777778,0.834428,0.777778,0.765315
16,Sonar,Decision Tree,0.711538,0.719487,0.711538,0.713154
17,Sonar,Bagging Classifier,0.807692,0.811813,0.807692,0.808557
18,Sonar,AdaBoost Classifier,0.692308,0.713599,0.692308,0.693675
19,Sonar,Random Forest,0.846154,0.850046,0.846154,0.846846
20,Tic-Tac-Toe,Decision Tree,0.929167,0.928729,0.929167,0.928474
21,Tic-Tac-Toe,Bagging Classifier,0.954167,0.955754,0.954167,0.953312
22,Tic-Tac-Toe,AdaBoost Classifier,0.929167,0.928695,0.929167,0.928763
23,Tic-Tac-Toe,Random Forest,0.966667,0.968208,0.966667,0.966122
24,Australian,Decision Tree,0.809249,0.807432,0.809249,0.806928
25,Australian,Bagging Classifier,0.849711,0.849711,0.849711,0.849711
26,Australian,AdaBoost Classifier,0.820809,0.819636,0.820809,0.819964
27,Australian,Random Forest,0.867052,0.866716,0.867052,0.866854
28,Hepatatis,Decision Tree,0.641026,0.671441,0.641026,0.654986
29,Hepatatis,Bagging Classifier,0.769231,0.736652,0.769231,0.747929
30,Hepatatis,AdaBoost Classifier,0.641026,0.671441,0.641026,0.654986
31,Hepatatis,Random Forest,0.794872,0.747055,0.794872,0.742383
32,Iris,Decision Tree,1.000000,1.000000,1.000000,1.000000
33,Iris,Bagging Classifier,1.000000,1.000000,1.000000,1.000000
34,Iris,AdaBoost Classifier,1.000000,1.000000,1.000000,1.000000
35,Iris,Random Forest,1.000000,1.000000,1.000000,1.000000
36,Wine,Decision Tree,0.955556,0.956725,0.955556,0.955373
37,Wine,Bagging Classifier,0.977778,0.978947,0.977778,0.977595
38,Wine,AdaBoost Classifier,0.955556,0.960000,0.955556,0.955859
39,Wine,Random Forest,1.000000,1.000000,1.000000,1.000000